* {
    padding: 0;
    margin: 0;
}

#landingpage img {
    align-items: center;
    display: flexbox;
    width: 49.7%;
    margin: auto;
    opacity: 1;
}

#landingpage img:hover {
    
    background-color: rgba(0, 0, 0, 0.205);
}

body {
    height: 100vh;
}