@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');



:root {
  --primaria-vermelha: hsl(0, 100%, 67%);
  --primaria-amarela: hsl(39, 100%, 56%);
  --primaria-verde: hsl(166, 100%, 37%);
  --primaria-azul: hsl(234, 85%, 45%);
  --gradiente1-normal: hsl(252, 100%, 67%);
  --gradiente2-normal: hsl(241, 81%, 54%);
  --circulo1-gradiente: hsla(256, 72%, 46%, 1);
  --circulo2-gradiente: hsla(241, 72%, 46%, 0);
  --fonte-primaria: 'Hanken Grotesk', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

main h1 {
  margin-top: -40px;
  margin-bottom: 20px;
  color: hsl(241, 100%, 89%);
  font-size: 20px;
}

.circulo {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to bottom, var(--circulo1-gradiente), var(--circulo2-gradiente));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
}

.cem {
  padding: 0;
  margin-top: -50px;
  margin-bottom: 70px;
  color: hsl(241, 100%, 89%);
  text-align: center;
}

main h3 {
  padding-bottom: 7px;
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
}

.paragrafo {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  color: hsl(241, 100%, 89%);
}

main ul li:nth-child(1) {
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 20px;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.250);
}

main h2 {
  text-align: left;
  padding-top: 20px;
  margin: 40px 50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 60px;
  margin-bottom: 30px;
  
}

.esquerda {
  display: flex;
  align-items: center;
}

.esquerda svg {
  margin-right: 8px;
}

.direita {
  color: hsl(224, 30%, 27%);
}

.barra {
  color: hsl(241, 100%, 89%);
  font-weight: bold;
}

#vermelho {
  background-image: linear-gradient(to right, hsla(0, 100%, 67%, 0.3), transparent );
  padding: 10px 10px;
  margin-left: 10px;
}

#amarelo {
  background-image: linear-gradient(to right, hsla(39, 100%, 56%, 0.3), transparent );
  padding: 10px 0px;
  margin-left: 10px;
}

#verde {
  background-image: linear-gradient(to right, hsl(166, 100%, 37%, 0.3), transparent);
  padding: 10px 0px;
  margin-left: 10px;
}

#azul {
  background-image: linear-gradient(to right, hsl(234, 85%, 45%, 0.3), transparent 80%);
  padding: 10px 0px;
  margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
  }

.continue {
  background-color: hsl(224, 30%, 27%);
  text-align: center;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.continue:hover {
  background-color: hsl(252, 100%, 67%);
}

body {
  text-align: center;
  height: 500px;
  margin: auto;
  font-family: var(--fonte-primaria);
}

.coluna {
  display: flex;

}

li {

  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
  max-width: calc(50% - 10px);
}


ul {
  max-width: 700px;
  margin: auto;

}

@media (max-width: 500px) {
  .coluna {
    flex-direction: column; /
  }

  li {
    max-width: 100%;
  }

  main ul li:nth-child(1) {
    border-radius: 0px 0px 10px 10px;
  }
}

@media (min-width: 501px) {
  ul {
    padding-top: 100px;
  }
}



